In [17]:
# Import Library
import pandas as pd
import numpy as np
import os

In [18]:
# Path to the directory containing your datasets
data_directory = "cleaned_dataset/paslon1/"

# List to store individual DataFrames
dfs = []

# Loop through files in the directory
for filename in os.listdir(data_directory):
    if filename.endswith(".csv"):  # Assuming your datasets are in CSV format
        file_path = os.path.join(data_directory, filename)
        
        # Read each CSV file into a DataFrame and append it to the list
        df = pd.read_csv(file_path)
        dfs.append(df)

# Concatenate all DataFrames in the list into one big DataFrame
big_df = pd.concat(dfs, ignore_index=True)

# Display the combined DataFrame
print(big_df)

                      created_at               id_str  \
0      2023-12-05 00:01:01+07:00  1731720272468689309
1      2023-12-05 00:05:15+07:00  1731721336773615908
2      2023-12-05 00:06:05+07:00  1731721547528745220
3      2023-12-05 00:08:59+07:00  1731722276154814877
4      2023-12-05 00:10:35+07:00  1731722678409830561
...                          ...                  ...
13710  2023-12-29 23:47:01+07:00  1740776447801983331
13711  2023-12-29 23:49:51+07:00  1740777158916940199
13712  2023-12-29 23:51:28+07:00  1740777564119945340
13713  2023-12-29 23:51:40+07:00  1740777616150560856
13714  2023-12-29 23:58:00+07:00  1740779211957383379

                                               full_text  quote_count  \
0      For Hindu girls who marry Muslims hijab is jus...            1
1      Cak  Indonesia bukan Stadion. Bangun stadion b...            0
2                           Amin https://t.co/mpajRO6X4g            0
3      @Alia20268374 @connorboutit @billardthegoat @M...            1
4      Selamat datang ( Krue Semangat) Gus Muhaimin @...            0
...                                                  ...          ...
13710  üöÄN–ïW CRAZY PUMP PROJECTüöÄ https://t.co/2pvfA8nR...            0
13711  Allahuakbar üò≠ ya Allah please have mercy on th...            0
13712  @TheRubberDuck79 How many have actually looked...            0
13713                                 pak anies please üôè            0
13714          I‚Äôm joining this anies x ganjar bandwagon            0

       reply_count  retweet_count  favorite_count lang          user_id_str  \
0                1              4              16   en            823691984
1                0              0               0   in           1179824329
2                1              0               6   en  1455113816262512643
3                9              1               1   en  1672412034883805184
4                0              0               0   in   949664160295542784
...            ...            ...             ...  ...                  ...
13710            0              0               0   en  1733448950881878016
13711            0              2               0   en            619824668
13712           11              6             140   en           4871480900
13713            0              0               0   en  1389901935759613955
13714            1              2              18   en           2904379412

       conversation_id_str         username  \
0      1731720272468689309     PoojaPophale
1      1731721336773615908      juarajuntak
2      1731721547528745220      zubizubi_du
3      1731294519868461278       UnLovedGoy
4      1731722678409830561   Syahrullah_hsb
...                    ...              ...
13710  1740776447801983331  sundmobout83558
13711  1740777158916940199         ainabas_
13712  1740771017826689112      CindyBublik
13713  1740777616150560856        pesisilan
13714  1740779211957383379        Crisctina

                                               tweet_url  \
0      https://twitter.com/PoojaPophale/status/173172...
1      https://twitter.com/juarajuntak/status/1731721...
2      https://twitter.com/zubizubi_du/status/1731721...
3      https://twitter.com/UnLovedGoy/status/17317222...
4      https://twitter.com/Syahrullah_hsb/status/1731...
...                                                  ...
13710  https://twitter.com/sundmobout83558/status/174...
13711  https://twitter.com/ainabas_/status/1740777158...
13712  https://twitter.com/CindyBublik/status/1740777...
13713  https://twitter.com/pesisilan/status/174077761...
13714  https://twitter.com/Crisctina/status/174077921...

                                             image_url  \
0                                                  NaN
1                                                  NaN
2      https://pbs.twimg.com/media/GAhPkIDWIAEpLw0.jpg
3                                                  NaN
4                                                  NaN
...                                                ...
13710                                              NaN
13711                                              NaN
13712                                              NaN
13713                                              NaN
13714                                              NaN

                            location  keyword
0                                NaN  Akronim
1                          Tangerang   Wapres
2                                NaN  Akronim
3      Hashemite Kingdom of Macrobia  Akronim
4      Pidie, Nangro Aceh Darussalam   Wapres
...                              ...      ...
13710                            NaN  Akronim
13711      Kuala Lumpur, Malaysia üá≤üáæ  Akronim
13712                  United States  Akronim
13713                     she/her 22     Pres
13714                            NaN     Pres

[13715 rows x 15 columns]

In [19]:
# count duplicate data based on full_text
print("Duplicate Data by Text: ", big_df['full_text'].duplicated().sum())

# drop duplicate data based on full_text
big_df = big_df.drop_duplicates(subset=['full_text'])
print("Total Data after Drop: ", len(big_df))

Duplicate Data by Text:  135
Total Data after Drop:  13580

In [20]:
# export to csv
big_df['created_at'] = pd.to_datetime(big_df['your_datetime_column'], utc=True).dt.tz_convert('Asia/Bangkok')

big_df.to_csv('combined_dataset/Paslon1_full.csv', index=False)

In [21]:
# take random sample data
df_sample = big_df.sample(n=7500, random_state=42)
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7500 entries, 1065 to 901
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           7500 non-null   object
 1   id_str               7500 non-null   int64
 2   full_text            7500 non-null   object
 3   quote_count          7500 non-null   int64
 4   reply_count          7500 non-null   int64
 5   retweet_count        7500 non-null   int64
 6   favorite_count       7500 non-null   int64
 7   lang                 7500 non-null   object
 8   user_id_str          7500 non-null   int64
 9   conversation_id_str  7500 non-null   int64
 10  username             7500 non-null   object
 11  tweet_url            7500 non-null   object
 12  image_url            3889 non-null   object
 13  location             4052 non-null   object
 14  keyword              7500 non-null   object
dtypes: int64(7), object(8)
memory usage: 937.5+ KB

In [26]:
# take date from created_at
df_sample['your_datetime_column'] = pd.to_datetime(df_sample['your_datetime_column'], utc=True).dt.tz_convert('Asia/Bangkok')

df_sample['created_at'] = pd.to_datetime(df_sample['created_at'])
# df_sample['date'] = df_sample['created_at'].dt.date
# df_sample['date'] = pd.to_datetime(df_sample['date'])
# df_sample.info()

ValueError: Tz-aware datetime.datetime cannot be converted to datetime64 unless utc=True

In [ ]:
# export to csv
df_sample.to_csv('combined_dataset/Paslon1_sample.csv', index=False)