In [145]:
# Import Library
import pandas as pd
import numpy as np

In [146]:
# read csv file
df_p1 = pd.read_csv('combined_dataset/Paslon1_full.csv')
df_p2 = pd.read_csv('combined_dataset/Paslon2_full.csv')
df_p3 = pd.read_csv('combined_dataset/Paslon3_full.csv')

# Clean and Modify Data

In [147]:
# create new label 'target' from column 'keyword'
df_p1.loc[df_p1['keyword'] == 'Pres', 'target'] = 'Anies'
df_p1.loc[df_p1['keyword'] == 'Wapres', 'target'] = 'Imin'
df_p1.loc[df_p1['keyword'] == 'Akronim', 'target'] = 'AMin'

df_p2.loc[df_p2['keyword'] == 'Pres', 'target'] = 'Prabowo'
df_p2.loc[df_p2['keyword'] == 'Wapres', 'target'] = 'Gibran'
df_p2.loc[df_p2['keyword'] == 'Akronim', 'target'] = 'Pragi'

df_p3.loc[df_p3['keyword'] == 'Pres', 'target'] = 'Ganjar'
df_p3.loc[df_p3['keyword'] == 'Wapres', 'target'] = 'Mahfud'
df_p3.loc[df_p3['keyword'] == 'Akronim', 'target'] = 'GaMa'

C:\Users\mkmaa\AppData\Local\Temp\ipykernel_35444\519926434.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Anies' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_p1.loc[df_p1['keyword'] == 'Pres', 'target'] = 'Anies'
C:\Users\mkmaa\AppData\Local\Temp\ipykernel_35444\519926434.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Prabowo' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_p2.loc[df_p2['keyword'] == 'Pres', 'target'] = 'Prabowo'
C:\Users\mkmaa\AppData\Local\Temp\ipykernel_35444\519926434.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Ganjar' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_p3.loc[df_p3['keyword'] == 'Pres', 'target'] = 'Ganjar'

In [148]:
# add column paslon
df_p1['paslon'] = 'P1'
df_p2['paslon'] = 'P2'
df_p3['paslon'] = 'P3'

In [149]:
# take date from created_at
df_p1['created_at'] = pd.to_datetime(df_p1['created_at'])
df_p1['date'] = df_p1['created_at'].dt.date
df_p1['date'] = pd.to_datetime(df_p1['date'])

df_p2['created_at'] = pd.to_datetime(df_p2['created_at'])
df_p2['date'] = df_p2['created_at'].dt.date
df_p2['date'] = pd.to_datetime(df_p2['date'])

df_p3['created_at'] = pd.to_datetime(df_p3['created_at'])
df_p3['date'] = df_p3['created_at'].dt.date
df_p3['date'] = pd.to_datetime(df_p3['date'])

# Check Data

## Paslon 1

In [150]:
df_p2['date'].value_counts().sort_index()

date
2023-12-05    266
2023-12-06    413
2023-12-07    365
2023-12-08    457
2023-12-09    472
2023-12-10    397
2023-12-11    443
2023-12-12    777
2023-12-13    779
2023-12-14    610
2023-12-15    388
2023-12-16    642
2023-12-17    398
2023-12-18    499
2023-12-19    524
2023-12-20    489
2023-12-21    535
2023-12-22    754
2023-12-23    941
2023-12-24    455
2023-12-25    486
2023-12-26    368
2023-12-27    426
2023-12-28    535
2023-12-29    542
Name: count, dtype: int64

In [151]:
df_p2['keyword'].value_counts()

keyword
Pres       8272
Wapres     4351
Akronim     338
Name: count, dtype: int64

In [152]:
df_p2['target'].value_counts()

target
Prabowo    8272
Gibran     4351
Pragi       338
Name: count, dtype: int64

## Paslon 2

In [153]:
df_p2['date'].value_counts().sort_index()

date
2023-12-05    266
2023-12-06    413
2023-12-07    365
2023-12-08    457
2023-12-09    472
2023-12-10    397
2023-12-11    443
2023-12-12    777
2023-12-13    779
2023-12-14    610
2023-12-15    388
2023-12-16    642
2023-12-17    398
2023-12-18    499
2023-12-19    524
2023-12-20    489
2023-12-21    535
2023-12-22    754
2023-12-23    941
2023-12-24    455
2023-12-25    486
2023-12-26    368
2023-12-27    426
2023-12-28    535
2023-12-29    542
Name: count, dtype: int64

In [154]:
df_p2['keyword'].value_counts()

keyword
Pres       8272
Wapres     4351
Akronim     338
Name: count, dtype: int64

In [155]:
df_p2['target'].value_counts()

target
Prabowo    8272
Gibran     4351
Pragi       338
Name: count, dtype: int64

## Paslon 3

In [156]:
df_p3['date'].value_counts().sort_index()

date
2023-12-05    240
2023-12-06    269
2023-12-07    347
2023-12-08    395
2023-12-09    625
2023-12-10    262
2023-12-11    229
2023-12-12    399
2023-12-13    245
2023-12-14    333
2023-12-15    431
2023-12-16    195
2023-12-17    253
2023-12-18    263
2023-12-19    271
2023-12-20    262
2023-12-21    292
2023-12-22    439
2023-12-23    255
2023-12-24    302
2023-12-25    274
2023-12-26    266
2023-12-27    350
2023-12-28    314
2023-12-29    289
Name: count, dtype: int64

In [157]:
df_p3['keyword'].value_counts()

keyword
Pres       3678
Akronim    2529
Wapres     1593
Name: count, dtype: int64

In [158]:
df_p3['target'].value_counts()

target
Ganjar    3678
GaMa      2529
Mahfud    1593
Name: count, dtype: int64

# Combine dataset

In [159]:
# combine data
df = pd.concat([df_p1, df_p2, df_p3])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34341 entries, 0 to 7799
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           34341 non-null  datetime64[ns, UTC+07:00]
 1   id_str               34341 non-null  int64
 2   full_text            34341 non-null  object
 3   quote_count          34341 non-null  int64
 4   reply_count          34341 non-null  int64
 5   retweet_count        34341 non-null  int64
 6   favorite_count       34341 non-null  object
 7   lang                 34341 non-null  object
 8   user_id_str          34341 non-null  int64
 9   conversation_id_str  34341 non-null  object
 10  username             34341 non-null  object
 11  tweet_url            34335 non-null  object
 12  image_url            19956 non-null  object
 13  location             19319 non-null  object
 14  keyword              34341 non-null  object
 15  target               34341 non-null  object
 16  paslon               34341 non-null  object
 17  date                 34341 non-null  datetime64[ns]
dtypes: datetime64[ns, UTC+07:00](1), datetime64[ns](1), int64(5), object(11)
memory usage: 5.0+ MB

In [160]:
# count duplicate data based on full_text
print("Duplicate Data by Text: ", df['full_text'].duplicated().sum())

# drop duplicate data based on full_text
df = df.drop_duplicates(subset=['full_text'])
print("Total Data after Drop: ", len(df))

Duplicate Data by Text:  1459
Total Data after Drop:  32882

In [161]:
# check data with "dood", "Dood" in full_text and username
print(len(df[df['full_text'].str.contains("dood|Dood")]))
print(len(df[df['username'].str.contains("dood|Dood")]))

# drop data with "dood", "Dood" in full_text and username
df = df[~df['full_text'].str.contains("dood|Dood")]
df = df[~df['username'].str.contains("dood|Dood")]
print("Total Data after Drop: ", len(df))

19
6
Total Data after Drop:  32860

In [162]:
df['target'].value_counts()

target
Prabowo    7660
Anies      6723
Gibran     4211
Imin       4071
Ganjar     3228
AMin       2772
GaMa       2294
Mahfud     1563
Pragi       338
Name: count, dtype: int64

In [163]:
df['keyword'].value_counts()

keyword
Pres       17611
Wapres      9845
Akronim     5404
Name: count, dtype: int64

In [164]:
df['paslon'].value_counts()

paslon
P1    13566
P2    12209
P3     7085
Name: count, dtype: int64

In [165]:
# Save to csv
df.to_csv('combined_dataset/Full.csv', index=False)

## Random Sampling

In [166]:
# take 15000 sample data 
df_sample = df.sample(n=15000, random_state=1)
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15000 entries, 1212 to 7896
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           15000 non-null  datetime64[ns, UTC+07:00]
 1   id_str               15000 non-null  int64
 2   full_text            15000 non-null  object
 3   quote_count          15000 non-null  int64
 4   reply_count          15000 non-null  int64
 5   retweet_count        15000 non-null  int64
 6   favorite_count       15000 non-null  object
 7   lang                 15000 non-null  object
 8   user_id_str          15000 non-null  int64
 9   conversation_id_str  15000 non-null  object
 10  username             15000 non-null  object
 11  tweet_url            14997 non-null  object
 12  image_url            8778 non-null   object
 13  location             8428 non-null   object
 14  keyword              15000 non-null  object
 15  target               15000 non-null  object
 16  paslon               15000 non-null  object
 17  date                 15000 non-null  datetime64[ns]
dtypes: datetime64[ns, UTC+07:00](1), datetime64[ns](1), int64(5), object(11)
memory usage: 2.2+ MB

In [167]:
df_sample['date'].value_counts().sort_index()

date
2023-12-05    590
2023-12-06    473
2023-12-07    516
2023-12-08    563
2023-12-09    662
2023-12-10    596
2023-12-11    520
2023-12-12    777
2023-12-13    679
2023-12-14    807
2023-12-15    683
2023-12-16    666
2023-12-17    421
2023-12-18    551
2023-12-19    570
2023-12-20    515
2023-12-21    538
2023-12-22    750
2023-12-23    802
2023-12-24    629
2023-12-25    469
2023-12-26    394
2023-12-27    563
2023-12-28    675
2023-12-29    591
Name: count, dtype: int64

In [168]:
df_sample['paslon'].value_counts()

paslon
P1    6273
P2    5558
P3    3169
Name: count, dtype: int64

In [169]:
df_sample['keyword'].value_counts()

keyword
Pres       8017
Wapres     4495
Akronim    2488
Name: count, dtype: int64

In [170]:
df_sample['target'].value_counts()

target
Prabowo    3503
Anies      3070
Imin       1915
Gibran     1890
Ganjar     1444
AMin       1288
GaMa       1035
Mahfud      690
Pragi       165
Name: count, dtype: int64

In [171]:
# save to csv
df_sample.to_csv('combined_dataset/Sample.csv', index=False)