In [2]:
# Import Library
import pandas as pd
import numpy as np
import os

In [5]:
# Path to the directory containing your datasets
data_directory = "cleaned_dataset/paslon3/"

# List to store individual DataFrames
dfs = []

# Loop through files in the directory
for filename in os.listdir(data_directory):
    if filename.endswith(".csv"):  # Assuming your datasets are in CSV format
        file_path = os.path.join(data_directory, filename)
        
        # Read each CSV file into a DataFrame and append it to the list
        df = pd.read_csv(file_path)
        dfs.append(df)

# Concatenate all DataFrames in the list into one big DataFrame
big_df = pd.concat(dfs, ignore_index=True)

# Display the combined DataFrame
print(big_df)

                     created_at               id_str  \
0     2023-12-05 00:44:13+07:00  1731731142414639465
1     2023-12-05 02:01:30+07:00  1731750593943765458
2     2023-12-05 02:32:31+07:00  1731758398738473157
3     2023-12-05 03:31:16+07:00  1731773183508852944
4     2023-12-05 04:33:33+07:00  1731788857472123177
...                         ...                  ...
7815  2023-12-29 23:50:57+07:00  1740777435598143956
7816  2023-12-29 23:50:58+07:00  1740777440660828351
7817  2023-12-29 23:51:10+07:00  1740777490128441779
7818  2023-12-29 23:54:32+07:00  1740778337751224703
7819  2023-12-29 23:58:08+07:00  1740779243892818396

                                              full_text  quote_count  \
0     baca Majalah Tempo terbaru ini bikin resah. di...            6
1     Allah sa mu gama da duniya lafiya  Allah bamu ...            3
2     Bagaimana pun  posisi saya jelas mendukung Gan...            6
3     @officialinews_ Ganjar Mahfud M3nang Indonesia...            0
4     Percepat langkah  ..kuatkan dukungan pd Gama u...            4
...                                                 ...          ...
7815  ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡   # #MahfudLebihBaik3 #GanjarMahfud202...            0
7816  ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡   # #MahfudLebihBaik3 #GanjarMahfud202...            0
7817  ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡   # #MahfudLebihBaik3 #GanjarMahfud202...            0
7818  Pastikan kalian hadir di Pesta Rakyat Ganjar-M...            0
7819  Janji Babat Korupsi  Mahfud Md: Aparat Tak Bol...            2

      reply_count  retweet_count  favorite_count lang          user_id_str  \
0               3             86             207   in  1067463821252472832
1               0             24              19   in           1207085623
2              77             53             392   in             70828230
3               0              0               0   in  1708707192239738880
4               9            145             532   in  1264902602342334470
...           ...            ...             ...  ...                  ...
7815            0              0               0   in  1645491622669426700
7816            0              0               0   in             99862944
7817            0              0               0   in           2226482431
7818            0              8              46   in  1230994530083565568
7819          108             78             115   in             18129942

      conversation_id_str        username  \
0     1731731142414639465         107aWvS
1     1731750593943765458        HafsiSi_
2     1731758398738473157        dawiguna
3     1731562729293431073         Abrhmz_
4     1731788857472123177     Flamboyan59
...                   ...             ...
7815  1740777435598143956        _evaaa02
7816  1740777440660828351    0x_LoriMarie
7817  1740777490128441779  AbhinavBusawon
7818  1740778337751224703   sahabatganjar
7819  1740779243892818396      tempodotco

                                              tweet_url  \
0     https://twitter.com/107aWvS/status/17317311424...
1     https://twitter.com/HafsiSi_/status/1731750593...
2     https://twitter.com/dawiguna/status/1731758398...
3     https://twitter.com/Abrhmz_/status/17317731835...
4     https://twitter.com/Flamboyan59/status/1731788...
...                                                 ...
7815  https://twitter.com/_evaaa02/status/1740777435...
7816  https://twitter.com/0x_LoriMarie/status/174077...
7817  https://twitter.com/AbhinavBusawon/status/1740...
7818  https://twitter.com/sahabatganjar/status/17407...
7819  https://twitter.com/tempodotco/status/17407792...

                                              image_url  \
0                                                   NaN
1                                                   NaN
2       https://pbs.twimg.com/media/GAhxFIdaYAA6vON.jpg
3                                                   NaN
4     https://pbs.twimg.com/ext_tw_video_thumb/17317...
...                                                 ...
7815                                                NaN
7816                                                NaN
7817                                                NaN
7818  https://pbs.twimg.com/ext_tw_video_thumb/17407...
7819                                                NaN

                            location  keyword
0                      Mount Olympus  Akronim
1                            Nigeria   Wapres
2     Bandung, Jawa Barat, Indonesia  Akronim
3                                NaN  Akronim
4       Indonesia NO DM â›”. PORN BLOK   Wapres
...                              ...      ...
7815                             NaN  Akronim
7816                 Kenora, Ontario  Akronim
7817                             NaN  Akronim
7818                             NaN     Pres
7819                       Indonesia  Akronim

[7820 rows x 15 columns]

<bound method DataFrame.count of                      created_at               id_str  \
0     2023-12-05 00:44:13+07:00  1731731142414639465
1     2023-12-05 02:01:30+07:00  1731750593943765458
2     2023-12-05 02:32:31+07:00  1731758398738473157
3     2023-12-05 03:31:16+07:00  1731773183508852944
4     2023-12-05 04:33:33+07:00  1731788857472123177
...                         ...                  ...
7815  2023-12-29 23:50:57+07:00  1740777435598143956
7816  2023-12-29 23:50:58+07:00  1740777440660828351
7817  2023-12-29 23:51:10+07:00  1740777490128441779
7818  2023-12-29 23:54:32+07:00  1740778337751224703
7819  2023-12-29 23:58:08+07:00  1740779243892818396

                                              full_text  quote_count  \
0     baca Majalah Tempo terbaru ini bikin resah. di...            6
1     Allah sa mu gama da duniya lafiya  Allah bamu ...            3
2     Bagaimana pun  posisi saya jelas mendukung Gan...            6
3     @officialinews_ Ganjar Mahfud M3nang Indonesia...            0
4     Percepat langkah  ..kuatkan dukungan pd Gama u...            4
...                                                 ...          ...
7815  ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡   # #MahfudLebihBaik3 #GanjarMahfud202...            0
7816  ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡   # #MahfudLebihBaik3 #GanjarMahfud202...            0
7817  ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡   # #MahfudLebihBaik3 #GanjarMahfud202...            0
7818  Pastikan kalian hadir di Pesta Rakyat Ganjar-M...            0
7819  Janji Babat Korupsi  Mahfud Md: Aparat Tak Bol...            2

      reply_count  retweet_count  favorite_count lang          user_id_str  \
0               3             86             207   in  1067463821252472832
1               0             24              19   in           1207085623
2              77             53             392   in             70828230
3               0              0               0   in  1708707192239738880
4               9            145             532   in  1264902602342334470
...           ...            ...             ...  ...                  ...
7815            0              0               0   in  1645491622669426700
7816            0              0               0   in             99862944
7817            0              0               0   in           2226482431
7818            0              8              46   in  1230994530083565568
7819          108             78             115   in             18129942

      conversation_id_str        username  \
0     1731731142414639465         107aWvS
1     1731750593943765458        HafsiSi_
2     1731758398738473157        dawiguna
3     1731562729293431073         Abrhmz_
4     1731788857472123177     Flamboyan59
...                   ...             ...
7815  1740777435598143956        _evaaa02
7816  1740777440660828351    0x_LoriMarie
7817  1740777490128441779  AbhinavBusawon
7818  1740778337751224703   sahabatganjar
7819  1740779243892818396      tempodotco

                                              tweet_url  \
0     https://twitter.com/107aWvS/status/17317311424...
1     https://twitter.com/HafsiSi_/status/1731750593...
2     https://twitter.com/dawiguna/status/1731758398...
3     https://twitter.com/Abrhmz_/status/17317731835...
4     https://twitter.com/Flamboyan59/status/1731788...
...                                                 ...
7815  https://twitter.com/_evaaa02/status/1740777435...
7816  https://twitter.com/0x_LoriMarie/status/174077...
7817  https://twitter.com/AbhinavBusawon/status/1740...
7818  https://twitter.com/sahabatganjar/status/17407...
7819  https://twitter.com/tempodotco/status/17407792...

                                              image_url  \
0                                                   NaN
1                                                   NaN
2       https://pbs.twimg.com/media/GAhxFIdaYAA6vON.jpg
3                                                   NaN
4     https://pbs.twimg.com/ext_tw_video_thumb/17317...
...                                                 ...
7815                                                NaN
7816                                                NaN
7817                                                NaN
7818  https://pbs.twimg.com/ext_tw_video_thumb/17407...
7819                                                NaN

                            location  keyword
0                      Mount Olympus  Akronim
1                            Nigeria   Wapres
2     Bandung, Jawa Barat, Indonesia  Akronim
3                                NaN  Akronim
4       Indonesia NO DM â›”. PORN BLOK   Wapres
...                              ...      ...
7815                             NaN  Akronim
7816                 Kenora, Ontario  Akronim
7817                             NaN  Akronim
7818                             NaN     Pres
7819                       Indonesia  Akronim

[7820 rows x 15 columns]>

In [10]:
# count duplicate data based on full_text
print("Duplicate Data by Text: ", big_df['full_text'].duplicated().sum())

# drop duplicate data based on full_text
big_df = big_df.drop_duplicates(subset=['full_text'])
print("Total Data after Drop: ", len(big_df))

Duplicate Data by Text:  20
Total Data after Drop:  7800

In [12]:
# export to csv
big_df.to_csv('combined_dataset/Paslon3_full.csv', index=False)

In [13]:
# take random sample data
df_sample = big_df.sample(n=7500, random_state=42)
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7500 entries, 2116 to 7137
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           7500 non-null   object
 1   id_str               7500 non-null   int64
 2   full_text            7500 non-null   object
 3   quote_count          7500 non-null   int64
 4   reply_count          7500 non-null   int64
 5   retweet_count        7500 non-null   int64
 6   favorite_count       7500 non-null   int64
 7   lang                 7500 non-null   object
 8   user_id_str          7500 non-null   int64
 9   conversation_id_str  7500 non-null   int64
 10  username             7500 non-null   object
 11  tweet_url            7500 non-null   object
 12  image_url            4688 non-null   object
 13  location             4417 non-null   object
 14  keyword              7500 non-null   object
dtypes: int64(7), object(8)
memory usage: 937.5+ KB

In [14]:
# take date from created_at
df_sample['created_at'] = pd.to_datetime(df_sample['created_at'])
df_sample['date'] = df_sample['created_at'].dt.date
df_sample['date'] = pd.to_datetime(df_sample['date'])
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7500 entries, 2116 to 7137
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           7500 non-null   datetime64[ns, pytz.FixedOffset(420)]
 1   id_str               7500 non-null   int64
 2   full_text            7500 non-null   object
 3   quote_count          7500 non-null   int64
 4   reply_count          7500 non-null   int64
 5   retweet_count        7500 non-null   int64
 6   favorite_count       7500 non-null   int64
 7   lang                 7500 non-null   object
 8   user_id_str          7500 non-null   int64
 9   conversation_id_str  7500 non-null   int64
 10  username             7500 non-null   object
 11  tweet_url            7500 non-null   object
 12  image_url            4688 non-null   object
 13  location             4417 non-null   object
 14  keyword              7500 non-null   object
 15  date                 7500 non-null   datetime64[ns]
dtypes: datetime64[ns, pytz.FixedOffset(420)](1), datetime64[ns](1), int64(7), object(7)
memory usage: 996.1+ KB

In [16]:
# export to csv
df_sample.to_csv('combined_dataset/Paslon3_sample.csv', index=False)