In [174]:
# Import Library
import pandas as pd
import numpy as np
from langdetect import detect

In [175]:
# read csv file
df_p1 = pd.read_csv('combined_dataset/Paslon1_full.csv')
df_p2 = pd.read_csv('combined_dataset/Paslon2_full.csv')
df_p3 = pd.read_csv('combined_dataset/Paslon3_full.csv')

# Clean and Modify Data

In [176]:
# create new label 'target' from column 'keyword'
df_p1.loc[df_p1['keyword'] == 'Pres', 'target'] = 'Anies'
df_p1.loc[df_p1['keyword'] == 'Wapres', 'target'] = 'Imin'
df_p1.loc[df_p1['keyword'] == 'Akronim', 'target'] = 'AMin'

df_p2.loc[df_p2['keyword'] == 'Pres', 'target'] = 'Prabowo'
df_p2.loc[df_p2['keyword'] == 'Wapres', 'target'] = 'Gibran'
df_p2.loc[df_p2['keyword'] == 'Akronim', 'target'] = 'Pragi'

df_p3.loc[df_p3['keyword'] == 'Pres', 'target'] = 'Ganjar'
df_p3.loc[df_p3['keyword'] == 'Wapres', 'target'] = 'Mahfud'
df_p3.loc[df_p3['keyword'] == 'Akronim', 'target'] = 'GaMa'

C:\Users\mkmaa\AppData\Local\Temp\ipykernel_35444\519926434.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Anies' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_p1.loc[df_p1['keyword'] == 'Pres', 'target'] = 'Anies'
C:\Users\mkmaa\AppData\Local\Temp\ipykernel_35444\519926434.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Prabowo' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_p2.loc[df_p2['keyword'] == 'Pres', 'target'] = 'Prabowo'
C:\Users\mkmaa\AppData\Local\Temp\ipykernel_35444\519926434.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Ganjar' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_p3.loc[df_p3['keyword'] == 'Pres', 'target'] = 'Ganjar'

In [177]:
# add column paslon
df_p1['paslon'] = 'P1'
df_p2['paslon'] = 'P2'
df_p3['paslon'] = 'P3'

In [178]:
# take date from created_at
df_p1['created_at'] = pd.to_datetime(df_p1['created_at'])
df_p1['date'] = df_p1['created_at'].dt.date
df_p1['date'] = pd.to_datetime(df_p1['date'])

df_p2['created_at'] = pd.to_datetime(df_p2['created_at'])
df_p2['date'] = df_p2['created_at'].dt.date
df_p2['date'] = pd.to_datetime(df_p2['date'])

df_p3['created_at'] = pd.to_datetime(df_p3['created_at'])
df_p3['date'] = df_p3['created_at'].dt.date
df_p3['date'] = pd.to_datetime(df_p3['date'])

# Check Data

## Paslon 1

In [179]:
df_p2['date'].value_counts().sort_index()

date
2023-12-05    266
2023-12-06    413
2023-12-07    365
2023-12-08    457
2023-12-09    472
2023-12-10    397
2023-12-11    443
2023-12-12    777
2023-12-13    779
2023-12-14    610
2023-12-15    388
2023-12-16    642
2023-12-17    398
2023-12-18    499
2023-12-19    524
2023-12-20    489
2023-12-21    535
2023-12-22    754
2023-12-23    941
2023-12-24    455
2023-12-25    486
2023-12-26    368
2023-12-27    426
2023-12-28    535
2023-12-29    542
Name: count, dtype: int64

In [180]:
df_p2['keyword'].value_counts()

keyword
Pres       8272
Wapres     4351
Akronim     338
Name: count, dtype: int64

In [181]:
df_p2['target'].value_counts()

target
Prabowo    8272
Gibran     4351
Pragi       338
Name: count, dtype: int64

## Paslon 2

In [182]:
df_p2['date'].value_counts().sort_index()

date
2023-12-05    266
2023-12-06    413
2023-12-07    365
2023-12-08    457
2023-12-09    472
2023-12-10    397
2023-12-11    443
2023-12-12    777
2023-12-13    779
2023-12-14    610
2023-12-15    388
2023-12-16    642
2023-12-17    398
2023-12-18    499
2023-12-19    524
2023-12-20    489
2023-12-21    535
2023-12-22    754
2023-12-23    941
2023-12-24    455
2023-12-25    486
2023-12-26    368
2023-12-27    426
2023-12-28    535
2023-12-29    542
Name: count, dtype: int64

In [183]:
df_p2['keyword'].value_counts()

keyword
Pres       8272
Wapres     4351
Akronim     338
Name: count, dtype: int64

In [184]:
df_p2['target'].value_counts()

target
Prabowo    8272
Gibran     4351
Pragi       338
Name: count, dtype: int64

## Paslon 3

In [185]:
df_p3['date'].value_counts().sort_index()

date
2023-12-05    240
2023-12-06    269
2023-12-07    347
2023-12-08    395
2023-12-09    625
2023-12-10    262
2023-12-11    229
2023-12-12    399
2023-12-13    245
2023-12-14    333
2023-12-15    431
2023-12-16    195
2023-12-17    253
2023-12-18    263
2023-12-19    271
2023-12-20    262
2023-12-21    292
2023-12-22    439
2023-12-23    255
2023-12-24    302
2023-12-25    274
2023-12-26    266
2023-12-27    350
2023-12-28    314
2023-12-29    289
Name: count, dtype: int64

In [186]:
df_p3['keyword'].value_counts()

keyword
Pres       3678
Akronim    2529
Wapres     1593
Name: count, dtype: int64

In [187]:
df_p3['target'].value_counts()

target
Ganjar    3678
GaMa      2529
Mahfud    1593
Name: count, dtype: int64

# Combine dataset

In [188]:
# combine data
df = pd.concat([df_p1, df_p2, df_p3])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34341 entries, 0 to 7799
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           34341 non-null  datetime64[ns, UTC+07:00]
 1   id_str               34341 non-null  int64
 2   full_text            34341 non-null  object
 3   quote_count          34341 non-null  int64
 4   reply_count          34341 non-null  int64
 5   retweet_count        34341 non-null  int64
 6   favorite_count       34341 non-null  object
 7   lang                 34341 non-null  object
 8   user_id_str          34341 non-null  int64
 9   conversation_id_str  34341 non-null  object
 10  username             34341 non-null  object
 11  tweet_url            34335 non-null  object
 12  image_url            19956 non-null  object
 13  location             19319 non-null  object
 14  keyword              34341 non-null  object
 15  target               34341 non-null  object
 16  paslon               34341 non-null  object
 17  date                 34341 non-null  datetime64[ns]
dtypes: datetime64[ns, UTC+07:00](1), datetime64[ns](1), int64(5), object(11)
memory usage: 5.0+ MB

### Clean combined Data

In [189]:
# count duplicate data based on full_text
print("Duplicate Data by Text: ", df['full_text'].duplicated().sum())

# drop duplicate data based on full_text
df = df.drop_duplicates(subset=['full_text'])
print("Total Data after Drop: ", len(df))

Duplicate Data by Text:  1459
Total Data after Drop:  32882

In [190]:
# check data with "dood", "Dood" in full_text and username
print(len(df[df['full_text'].str.contains("dood|Dood")]))
print(len(df[df['username'].str.contains("dood|Dood")]))

# drop data with "dood", "Dood" in full_text and username
df = df[~df['full_text'].str.contains("dood|Dood")]
df = df[~df['username'].str.contains("dood|Dood")]
print("Total Data after Drop: ", len(df))

19
6
Total Data after Drop:  32860

In [207]:
# check data 'full_text' language
def detect_lang(text):
    try:
        return detect(text)
    except:
        return None
    
df['lang'] = df['full_text'].apply(detect_lang)
df['lang'].value_counts()

lang
id    27241
en     2662
tl      705
de      235
nl      227
af      221
tr      204
so      175
pl      159
fi      141
et      129
sw       94
ro       51
sl       50
fr       50
ar       50
ca       47
it       47
es       41
pt       39
fa       30
lv       21
no       21
sv       19
cy       17
hr       17
ko       15
lt       14
sq       14
hu       13
ja       11
da       11
vi        9
ur        6
sk        4
cs        2
Name: count, dtype: int64

In [209]:
# drop data with 'lang' not 'id'
df = df[df['lang'] == 'id']
print("Total Data after Drop: ", len(df))

Total Data after Drop:  27241

In [210]:
df['target'].value_counts()

target
Prabowo    7221
Anies      5387
Gibran     3983
Imin       3422
Ganjar     3150
GaMa       2247
Mahfud     1245
Pragi       313
AMin        273
Name: count, dtype: int64

In [211]:
df['keyword'].value_counts()

keyword
Pres       15758
Wapres      8650
Akronim     2833
Name: count, dtype: int64

In [212]:
df['paslon'].value_counts()

paslon
P2    11517
P1     9082
P3     6642
Name: count, dtype: int64

In [213]:
# Save to csv
df.to_csv('combined_dataset/Full.csv', index=False)

## Random Sampling

In [214]:
# take 15000 sample data 
df_sample = df.sample(n=16000, random_state=1)
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16000 entries, 10000 to 11784
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           16000 non-null  datetime64[ns, UTC+07:00]
 1   id_str               16000 non-null  int64
 2   full_text            16000 non-null  object
 3   quote_count          16000 non-null  int64
 4   reply_count          16000 non-null  int64
 5   retweet_count        16000 non-null  int64
 6   favorite_count       16000 non-null  object
 7   lang                 16000 non-null  object
 8   user_id_str          16000 non-null  int64
 9   conversation_id_str  16000 non-null  object
 10  username             16000 non-null  object
 11  tweet_url            15995 non-null  object
 12  image_url            9438 non-null   object
 13  location             8960 non-null   object
 14  keyword              16000 non-null  object
 15  target               16000 non-null  object
 16  paslon               16000 non-null  object
 17  date                 16000 non-null  datetime64[ns]
dtypes: datetime64[ns, UTC+07:00](1), datetime64[ns](1), int64(5), object(11)
memory usage: 2.3+ MB

In [215]:
df_sample['date'].value_counts().sort_index()

date
2023-12-05    500
2023-12-06    533
2023-12-07    565
2023-12-08    612
2023-12-09    792
2023-12-10    572
2023-12-11    516
2023-12-12    870
2023-12-13    744
2023-12-14    815
2023-12-15    669
2023-12-16    654
2023-12-17    476
2023-12-18    650
2023-12-19    640
2023-12-20    562
2023-12-21    633
2023-12-22    762
2023-12-23    891
2023-12-24    641
2023-12-25    503
2023-12-26    431
2023-12-27    595
2023-12-28    735
2023-12-29    639
Name: count, dtype: int64

In [216]:
df_sample['paslon'].value_counts()

paslon
P2    6772
P1    5360
P3    3868
Name: count, dtype: int64

In [217]:
df_sample['keyword'].value_counts()

keyword
Pres       9263
Wapres     5069
Akronim    1668
Name: count, dtype: int64

In [218]:
df_sample['target'].value_counts()

target
Prabowo    4248
Anies      3186
Gibran     2348
Imin       2000
Ganjar     1829
GaMa       1318
Mahfud      721
Pragi       176
AMin        174
Name: count, dtype: int64

In [219]:
# save to csv
df_sample.to_csv('combined_dataset/Sample.csv', index=False)

In [220]:
# split into dataset with 2000 data each
df_sample1 = df_sample.iloc[:2000]
df_sample2 = df_sample.iloc[2000:4000]
df_sample3 = df_sample.iloc[4000:6000]
df_sample4 = df_sample.iloc[6000:8000]
df_sample5 = df_sample.iloc[8000:10000]
df_sample6 = df_sample.iloc[10000:12500]
df_sample7 = df_sample.iloc[12500:15000]
df_sample8 = df_sample.iloc[15000:]

# save to csv
df_sample1.to_csv('combined_dataset/Sample1.csv', index=False)
df_sample2.to_csv('combined_dataset/Sample2.csv', index=False)
df_sample3.to_csv('combined_dataset/Sample3.csv', index=False)
df_sample4.to_csv('combined_dataset/Sample4.csv', index=False)
df_sample5.to_csv('combined_dataset/Sample5.csv', index=False)
df_sample6.to_csv('combined_dataset/Sample6.csv', index=False)
df_sample7.to_csv('combined_dataset/Sample7.csv', index=False)
df_sample8.to_csv('combined_dataset/Sample8.csv', index=False)